<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <meta charset="UTF-8"/>
    <title th:text="#{title.page.welcome}"></title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-expand bg-primary">
    <a class="navbar-brand" th:href="@{/}" th:text="#{button.main.page}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" th:href="@{/company}" th:text="#{button.company.list}"></a>
            <a class="nav-item nav-link" th:href="@{/vacancy}" th:text="#{button.vacancy.list}"></a>
            <a class="nav-item nav-link" th:href="@{/course}" th:text="#{button.course.list}"></a>
            <div sec:authorize="hasAnyAuthority('ADMIN')">
                <a class="nav-item nav-link" th:href="@{/technology}" th:text="#{button.technology.list}"></a>
            </div>
        </div>
    </div>

    <div>
        <a class="btn btn-outline-light" th:href="@{'?locale=en_US'}" th:text="#{lang.en}"></a>
        <a class="btn btn-outline-light" th:href="@{'?locale=ru_RU'}" th:text="#{lang.ru}"></a>
    </div>

    <ul class="nav navbar-nav ms-auto" sec:authorize="isAuthenticated()">
        <li class="nav-item dropdown">
            <a th:href="@{/user}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
               th:text="#{col.user.page}"></a>

            <div class="dropdown-menu dropdown-menu-end">
                <a th:href="@{/user}" class="dropdown-item" th:text="#{button.info.user}"></a>
                <a th:href="@{/user/update}" class="dropdown-item" th:text="#{button.edit.user}"></a>
                <a th:href="@{/user/courses}" class="dropdown-item" th:text="#{button.user.courses}"></a>
                <a th:href="@{/user/vacancies}" class="dropdown-item" th:text="#{button.user.vacancies}"></a>
                <div class="dropdown-divider"></div>
                <form class="dropdown-item" th:action="@{/logout}" method="post">
                    <button class="dropdown-item" th:text="#{button.logout}"/>
                </form>
            </div>
        </li>
    </ul>


    <div sec:authorize="!isAuthenticated()">
        <a class="nav-item nav-link" th:href="@{/login}"
           th:text="#{title.login.page}"></a>
    </div>

</nav>
</br>
<div align="center">
    <h3 th:text="#{button.vacancy.list}"></h3>
    <table class="table">
        <thead class="table-light">
        <tr>
            <th scope="col" th:text="#{col.vacancy.name}">
            </th>
            <th scope="col" th:text="#{col.vacancy.status}"></th>
            <th scope="col" th:text="#{col.vacancy.location}">
            </th>
            <th scope="col" th:text="#{col.vacancy.work.time}"></th>
            <th scope="col" th:text="#{col.vacancy.experience}">
            </th>
            <th scope="col" th:text="#{col.vacancy.salary}">
            </th>
            <th scope="col" th:text="#{col.vacancy.prof.lvl}">
            </th>
            <th scope="col" th:text="#{col.vacancy.english}"></th>
            <th scope="col" th:text="#{col.vacancy.company}">
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vacancy:${vacancies}">

            <td>
                <a th:href="@{/vacancy/info/{id} (id=${vacancy.id})}"
                   th:text="${vacancy.name}"></a>
            </td>
            <td th:text="${vacancy.status.value}"></td>
            <td th:text="${vacancy.location.value}"></td>
            <td th:text="${vacancy.workingTime.value}"></td>
            <td th:text="${vacancy.experience}"></td>
            <td th:text="${vacancy.salary}"></td>
            <td th:text="${vacancy.professionLevel.value}"></td>
            <td th:text="${vacancy.englishLevel.value}"></td>
            <td th:text="${vacancy.companyName}">
            </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>