<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title th:text="${user.name}+' '+${user.surname}"></title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-expand bg-primary">
    <a class="navbar-brand" th:href="@{/}" th:text="#{button.main.page}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" th:href="@{/company}" th:text="#{button.company.list}"></a>
            <a class="nav-item nav-link" th:href="@{/vacancy}" th:text="#{button.vacancy.list}"></a>
            <a class="nav-item nav-link" th:href="@{/course}" th:text="#{button.course.list}"></a>
            <div sec:authorize="hasAnyAuthority('ADMIN')">
                <a class="nav-item nav-link" th:href="@{/technology}" th:text="#{button.technology.list}"></a>
            </div>
        </div>
    </div>

    <div>
        <a class="btn btn-outline-light" th:href="@{'?locale=en_US'}" th:text="#{lang.en}"></a>
        <a class="btn btn-outline-light" th:href="@{'?locale=ru_RU'}" th:text="#{lang.ru}"></a>
    </div>

    <ul class="nav navbar-nav ms-auto" sec:authorize="isAuthenticated()">
        <li class="nav-item dropdown">
            <a th:href="@{/user}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
               th:text="#{col.user.page}"></a>

            <div class="dropdown-menu dropdown-menu-end">
                <a th:href="@{/user}" class="dropdown-item" th:text="#{button.info.user}"></a>
                <a th:href="@{/user/update}" class="dropdown-item" th:text="#{button.edit.user}"></a>
                <a th:href="@{/user/courses}" class="dropdown-item" th:text="#{button.user.courses}"></a>
                <a th:href="@{/user/vacancies}" class="dropdown-item" th:text="#{button.user.vacancies}"></a>
                <div class="dropdown-divider"></div>
                <form class="dropdown-item" th:action="@{/logout}" method="post">
                    <button class="dropdown-item" th:text="#{button.logout}"/>
                </form>
            </div>
        </li>
    </ul>
    <div sec:authorize="!isAuthenticated()">
        <a class="nav-item nav-link" th:href="@{/login}"
           th:text="#{title.login.page}"></a>
    </div>
</nav>

<div class="container">
    <form th:object="${user}" autocomplete="off">
        <div>
            <h2 th:text="${user.name}+' '+${user.surname}"></h2>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <strong class="form-label" th:text="#{col.user.email}" :/>
                </br>
                <a th:href="'mailto:' + ${user.email}" th:text="${user.email}"></a>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <strong class="form-label" th:text="#{col.user.phone}" :/>
                </br>
                <p th:text="${user.phoneNumber}"></p>
            </div>
        </div>
        </br>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <strong class="form-label" th:text="#{col.user.description}"/>
                </br>
                <textarea type="text" class="form-control mb-auto col-lg-auto" readonly rows="7"
                          th:field="${user.description}"></textarea>
            </div>
        </div>
    </form>
</div>

</body>
</html>